*{
	margin:0;
	

}
body{
	font-family: helvetica;
}
#topo{
	background-color: #191970;
	width: 100%;
	height: 30px;
	padding-top: 5px;
	box-shadow: 5px 0px 15px #000;
	border-top: 2px solid #ff8835;
	border-bottom: 1px solid #888;
}
/*Efeito do menu do lado direito*/
#info{
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	font-size: 14px;
}
/*Icons*/
.icon{
	width: 120px;
	height: 120px;
	color:white;

}
#novoatd{
	
}
.lista{
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}
/*Para InformaÃ§Ãµes do topo lado direito ( ATT , Hora e Sair ) */
#info a{
	color: white;
	text-decoration: none;
}

/*Alinhamento do form*/
#center {
    position: relative;
    /* margin: auto; */
    margin-top: 24%;
    border: 1px solid #ff8b57;
    border-radius: 7px;
    margin-left: 50%;
    box-shadow: 10px 10px 20px #ccc;
    height: 230px;
    width: 1000px;
    background-color: #f7f7f7;
    left: -500px;
    top: -160px;
}

#rodape{
	position: absolute;
	text-align: center;
	background: #191970;
	width: 100%;
	height: 20px;
	padding-top: 10px;
	color: white;
	bottom: 0px;
	box-shadow: 0px -3px 10px #999;
	font-size: 13px;
}
#tableIcons{
	width: 1000px;
	margin: 0 auto;
	padding-top: 35px;
	text-align: center;
}
