*{
	margin:0;
	

}
body{
	background: #eee;
	font-family: helvetica;
}
#topo{
	background-color: #191970;
	width: 100%;
	height: 40px;
	padding-top: 10px;
}
/*Icons*/
.icon{
	width: 120px;
	height: 120px;
	color:white;

}
#novoatd{
	
}
.lista{
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}
/*Para Informações do topo lado direito ( ATT , Hora e Sair ) */
#info{
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
}
#info a{
	color: white;
	text-decoration: none;
}

/*Alinhamento do form*/
#center {
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 145px;
    height: 230px;
    width: 1000px;
    background-color: #fff;
}

#rodape{
	position: absolute;
	text-align: center;
	background: #FF530D;
	width: 100%;
	height: 50px;
	margin-top: 70px;
	padding-top: 25px;
	color: white;
	bottom: 0px;
}
#tableIcons{
	width: 1000px;
	margin: 0 auto;
	padding-top: 35px;
	text-align: center;
}
