*{
	margin:0;
}
/*Cor de fundo*/
body{
	background: #eee;
	font-family: helvetica;
}
/*Efeito do topo*/
#topo{
	background-color: #191970;
	width: 100%;
	height: 40px;
	padding-top:10px;
}
/*Efeito do menu do lado direito*/
#info{
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
}
#info a{
	color: white;
	text-decoration: none;
}

/*Menu do lado direito da tela*/
.btn_topo{
	border-radius: 5px;
	padding: 5px;
	margin: 1px;
	margin-right: 5px;
}
/*Alinhamento do form*/
.center {
    margin: auto;
    margin-top: 40px;
    width: 670px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 30px;
}
/*Efeito dos Inputs */
.campos{
	border-radius: 5px;
	padding: 15px;
	margin: 2px;
	height: 50px;
	margin-top: 10px;
	width: 260px;
}
/*Botao verde*/
.btn_env:hover{
	padding: 12px;
	border-radius: 7px;
	background: #00E23B;
	color: white;
	cursor: pointer;
	width: 100px;
	opacity: 0.5;
	margin-top: 15px;
}
.btn_env{
	padding: 12px;
	border-radius: 7px;
	background: #00E23B;
	color: white;
	cursor: pointer;
	margin-top: 15px;
	width: 100px;
}
/*Botao veermelho*/
.btn_zerar:hover{
	padding: 12px;
	border-radius: 7px;
	background: red;
	opacity: 0.5;
	color: white;
	cursor: pointer;
	width:100px;
	margin-top: 15px;
}
.btn_zerar{
	padding: 12px;
	border-radius: 7px;
	background: red;
	color: white;
	cursor: pointer;
	width:100px;
	margin-top: 15px;
}
#rodape{
	text-align: center;
	background: #FF530D;
	width: 100%;
	height: 50px;
	margin-top: 40px;
	padding-top: 25px;
	color: white;
}
#prot{
	position: relative;
	background-color: yellow;
	width: 100px;
	border-radius: 7px;
	height: 40px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px; 
	
}








