*{
	margin:0;
}
/*Cor de fundo*/
body{
	/* background: #eee; */
	font-family: helvetica;
}

/*Efeito do topo*/
#topo{
	background-color: #191970;
	width: 100%;
	height: 30px;
	padding-top: 5px;
	box-shadow: 5px 0px 15px #000;
	border-top: 2px solid #ff8835;
	border-bottom: 1px solid #888;
}
/*Efeito do menu do lado direito*/
#info{
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	/* font-weight: bold; */
	font-size: 14px;
}
#info a{
	color: white;
	text-decoration: none;
}

/*Menu do lado direito da tela*/
.btn_topo{
	border-radius: 5px;
	padding: 5px;
	margin: 1px;
	margin-right: 5px;
}
/*Alinhamento do form*/
.center {
    margin: auto;
    margin-top: 45px;
    width: 670px;
    box-shadow: 10px 10px 30px #999;
    background: #fefefe;
    /* border-radius: 8px; */
    color: black;
    text-shadow: 2px 1px 2px white;
    border: 1px solid #ddd;
    padding: 15px;
}
/*Efeito dos Inputs */
.campos{
	border-radius: 3px;
	border: 1px solid #bbb;
	padding: 5px;
	margin: 2px;
	height: 37px;
	margin-top: 5px;
	width: 260;
	background-image: linear-gradient(to bottom, #e0e0e0, #ffffff 6px);
	font-family: unset;
}
/*Botao verde*/
.btn_env:hover{
	padding: 12px;
	border-radius: 7px;
	background: #00E23B;
	color: white;
	cursor: pointer;
	width: 100px;
	opacity: 0.5;
	margin-top: 15px;
}
.btn_env{
	padding: 12px;
	border-radius: 7px;
	background: #00E23B;
	color: white;
	cursor: pointer;
	margin-top: 15px;
	width: 100px;
	border: none;
}
/*Botao veermelho*/
.btn_zerar:hover{
	padding: 12px;
	border-radius: 7px;
	background: red;
	opacity: 0.5;
	color: white;
	cursor: pointer;
	width:100px;
	margin-top: 15px;
}
.btn_zerar{
	padding: 12px;
	border-radius: 7px;
	background: red;
	color: white;
	cursor: pointer;
	width:100px;
	margin-top: 15px;
	border: none;
}
#rodape{
	position: absolute;
	text-align: center;
	background: #191970;
	width: 100%;
	height: 20px;
	/* margin-top: 40px; */
	padding-top: 10px;
	color: white;
	bottom: 0px;
	box-shadow: 0px -3px 10px #999;
	font-size: 13px;
}
#prot{
	position: relative;
	background-color: yellow;
	width: 100px;
	border-radius: 7px;
	height: 40px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px; 
	
}








