*{
	margin:0;
	

}
body{
	background: #eee;
}
#topo{
	background-color: #191970;
	width: 100%;
	height: 40px;
	padding-top: 10px;
}
#info{
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
}
#info a{
	color: white;
	text-decoration: none;
}
.btn_topo{
	border-radius: 5px;
	padding: 5px;
	margin: 1px;
	margin-right: 5px;
}
/*Alinhamento do form*/
.center {
    margin: auto;
    margin-top: 125px;
    width: 50%;
    border: 2px solid black;
    border-radius: 7px;
    padding: 20px;
}
/*Efeito dos Inputs */
.campos{
	border-radius: 5px;
	padding: 5px;
	margin: 2px;

}
.btn{
	padding: 10px;
	border-radius: 7px;
	background: #268EFF;
	color: white;
	cursor: pointer;
}
.btn:hover{
	background: #ccc;
}

#rodape{
	text-align: center;
	background: #FF530D;
	width: 100%;
	height: 50px;
	margin-top: 115px;
	padding-top: 25px;
	color: white;
}
#nomeCliente{
	
}
