body{
	background: #eee;
	font-family: helvetica;
	background-image: url("../img/Fundo-azul.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	
}
#geral{
	position: relative;
	margin: 0px;
	padding: 0px;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	font-family:  "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#loginBox{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	background: white;
	padding-top: 20px;
	padding-bottom: 10px;
	border-radius: 10px;	
	box-shadow: -2px 2px 20px #333;
}
#titleBox{
	position: relative;
	padding: 10px;
	font-size: 17px;
	text-align: center;
}
#bodyBox{
	text-align: center;	
}
input{
	width: 220px;
	border: solid #aaa 1px;
	padding: 10px;
	border-radius: 10px;
}
#aviso{
	color: red;
	font-size: 12px;
}


