*{
	margin:0;
	

}
body{
	background: #eee;
	font-family: helvetica;
}
#topo{
	background-color: #191970;
	width: 100%;
	height: 40px;
	padding-top: 10px;
}
/*Icons*/
.icon{
	width: 100px;
	height: 100px;
	color:white;

}
a {
	text-decoration: none;
	color: black;
}
/*Para Informações do topo lado direito ( ATT , Hora e Sair ) */
#info{
	margin-right: 15px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
}
#info a{
	color: white;
	text-decoration: none;
}

/*Alinhamento do form*/
.center {
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 50px;
    margin: 145px;
}

#rodape{
	text-align: center;
	background: #FF530D;
	width: 100%;
	height: 50px;
	margin-top: 70px;
	padding-top: 25px;
	color: white;
}
#chart-container{
	position: relative;
	width: 100%;
	top: 40px;
	
	background: white;
	margin: 0 auto;
}
#ch_title{
	position: relative;
	width: 100%;
	left: 30px;
	top: 10px;
}

#chart-container_expansive{
	position: relative;
	width: 100%;
	top: 40px;	
	background: white;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
}
#table_atendimentos_geral{
	width: 700px;
	
}
#table_atendimentos_geral td{
	border: solid 1px #bbb;
	padding: 3px;
	height: 30px;
}
#tableAtdGerais{
	position: relative;
	width: 700px;
	margin: 0 auto;
}








